[tool.coverage.run]
branch = true
source = [ "axyn" ]

[tool.pyright]
typeCheckingMode = "strict"
reportMissingTypeStubs = false
pythonVersion = "3.13" # Keep in sync with setup.py

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]
asyncio_mode = "auto"

[tool.semantic_release]
commit_parser = "conventional"
commit_message = "build: release v{version}"
version_variables = [
	"setup.py:version",
	"flake.nix:axynVersion",
]

