[tool.pyright]
typeCheckingMode = "strict"
reportMissingTypeStubs = false

[tool.semantic_release]
commit_parser = "conventional"
commit_message = "build: release v{version}"
version_variables = [
	"setup.py:version",
	"flake.nix:axynVersion",
]

