name: Release

on:
  push:
    branches:
      - master

concurrency: release

jobs:
  beautify:
    name: Beautify Python code
    runs-on: ubuntu-latest
    outputs:
      new_sha: ${{ steps.sha.outputs.SHA }}

    steps:
      - name: Set up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Black
        run: python -m pip install black

      - name: Beautify with Black
        run: python -m black .

      - name: Install isort
        run: python -m pip install "isort >=4,<5"

      - name: Sort imports
        run: python -m isort -y -rc .

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
            message: 'style: beautify ${{ github.sha }}'
            default_author: github_actions

      - name: Get new SHA
        id: sha
        run: |
          new_sha=$(git rev-parse HEAD)
          echo "::set-output name=SHA::$new_sha"

  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    needs: [beautify]
    if: github.repository_owner == 'danth'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ needs.beautify.outputs.new_sha }}

      - name: Fetch master
        run: git fetch --prune origin +refs/heads/master:refs/remotes/origin/master

      - name: Semantic Release
        uses: python-semantic-release/python-semantic-release@v10
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
